---
title: PHP version upgrades
description: Comparative of different versions of PHP
author: Álvaro Gómez
twitter: "@eusonlito"
image: image.png
versions:
  php5.0:
    title: "5.0"
    foreground: black
    background: white
    shadow: #ddd
  php5.1: 
    title: 5.1
    foreground: black
    background: white
    shadow: #ddd
  php5.2: 
    title: 5.2
    foreground: black
    background: white
    shadow: #ddd
  php5.3: 
    title: 5.3
    foreground: black
    background: white
    shadow: #ddd
  php5.4: 
    title: 5.4
    foreground: black
    background: white
    shadow: #ddd
  php5.5: 
    title: 5.5
    foreground: black
    background: white
    shadow: #ddd
  php5.6: 
    title: 5.6
    foreground: black
    background: white
    shadow: #ddd
  php7.0: 
    title: "7.0"
    foreground: black
    background: white
    shadow: #ddd
  php7.1: 
    title: 7.1
    foreground: black
    background: white
    shadow: #ddd
  php7.2: 
    title: 7.2
    foreground: black
    background: white
    shadow: #ddd
  php7.3: 
    title: 7.3
    foreground: black
    background: white
    shadow: #ddd
  php7.4:
    title: 7.4
    foreground: black
    background: white
    shadow: #ddd
  php8.0:
    title: "8.0"
    foreground: black
    background: white
    shadow: #ddd
types:
  - openssl
  - new-methods
  - extensions-other
  - global-constants
---
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="{{ author }}">
        <meta name="title" content="{{ title }}">
        <meta name="description" content="{{ description }}">

        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="{{ image | url }}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="{{ twitter }}">
        <meta name="twitter:creator" content="{{ twitter }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="{{ image | url }}">

        <link rel="stylesheet" href="styles.css" type="text/css" media="screen">
    </head>

    <body>
        <header class="main-header">
            <h1>
                <strong><a href="https://php.net/" title="Go to PHP site">PHP</a></strong>
                PHP Versions Reference
            </h1>
        </header>

        <main class="main-content ly-horizontal">
            {{ versions }}
            {% for id, version in versions %}
                <article id="{{ id }}" style="--foreground: {{ version.foreground }}; --background: {{ version.background }}; --shadow: {{ version.shadow }};">
                    <h1>{{ version.title }}</h1>

                    {% for type in types %}
                        {% set pages = search.pages([type, id]) %}

                        {% if pages.length %}
                        <h2>{{ type }}</h2>

                        <ul>
                        {% for page in pages %}
                        <li>
                            <a href="{{ page.data.url | url }}">
                                {{ page.data.title }}
                            </a>
                        </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                    
                </article>
            {% endfor %}
        </main>
    </body>
</html>
