---
title: PHP version upgrades
description: Comparative of different versions of PHP
author: Álvaro Gómez
twitter: "@eusonlito"
image: image.png
layout: layouts/base.njk
css: styles.css

versions:
  - title: "5.0"
    color: "#FFDD3A"
  - title: "5.1"
    color: "#FFA03C"
  - title: "5.2"
    color: "#E45B5B"
  - title: "5.3"
    color: "#E678DC"
  - title: "5.4"
    color: "#6B96D5"
  - title: "5.5"
    color: "#3CC0DC"
  - title: "5.6"
    color: "#40D26E"
  - title: "7.0"
    color: "#CFF417"
  - title: "7.1"
    color: "#FFDD3A"
  - title: "7.2"
    color: "#FFA03C"
  - title: "7.3"
    color: "#E45B5B"
  - title: "7.4"
    color: "#E678DC"
  - title: "8.0"
    color: "#6B96D5"
types:
  - openssl
  - new-methods
  - extensions-other
  - global-constants
---

<header class="main-header">
    <h1>
        <strong><a href="https://php.net/" title="Go to PHP site">PHP</a></strong>
        PHP Versions Reference
    </h1>
</header>

<main class="main-content ly-horizontal">
    {% for version in versions | reverse %}
    <article id="{{ id }}" style="--color: {{ version.color }};">
        <h1>{{ version.title }}</h1>

        <ul>
            {% for page in search.pages(version.title) %}
            <li>
                <a href="{{ page.data.url | url }}">
                    {{ page.data.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </article>
    {% endfor %}
</main>
